@import url('https://fonts.googleapis.com/css2?family=Roboto!wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.842);
    color: rgb(241, 241, 241);
    overflow: inline;
}

#sigin .logo h2 img{
    padding-left: 1rem;
    padding: 0.4rem;
    display: inline;
}

h1
h2
h3
h4
h5
h6{
    width: 300;
}

#wrapper{
    display: flex;
    flex-direction: row;
}

#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#right{
    flex: 1;
}

/* sign in */
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

#signin .form{
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo{
    margin-bottom: 8vh;
}

#signin .logo img {
    width: 50px;
}

#sigin .log alt{
    color : #f4f4f4;
}

#signin label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border:2px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .primary-btn {
    width: 100%;
}

#signin .secondary-btn,
.or,
.links {
    width: 60%;
}

#signin .links a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

#signin .or .bar {
flex: auto;
border: none;
height: 1px;
background: #aaa;
}

#signin .or span {
color: #ccc;
padding: 0 0.8rem;
}

#showcase {
display: flex;
justify-content: center;
align-content: center;
background: url(https://images.unsplash.comphoto-1512751165040-ec247781z62s?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWd1dHx8GVufDB8FHx&&auto=format&fit=crop&w=387&q=80) no repeat 
center center / cover;
height: 100vh;
text-align: center;
}

#showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1.5rem;
}

#showcase .secondary-btn {
    width: 60%;
    margin: auto;
}

#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}

#main-footer a{
    color: #f96816;
    text-decoration: underline;
}

.primary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0px;
    border-radius: 2px;
    font-weight: 500;
    background-color: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover{
    background: #742d0a;
}

.secondary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.secondary-btn:hover{
    border-color: #e6550d;
    color: #f96816;
}

@media(min-width : 1200px)
{
    #left {
        flex: 4;
    }

    #right {
        flex: 6;
    }
}

@media(max-width : 768px)
{
    body {
        overflow: auto;
    }

    #right  {
        display: none;
    }

    #left {
        justify-self: start;
        margin-top: 2vh;
    }

    #sign .logo{
        margin-bottom: 2vh;
    }

    #signin .text-input {
        margin-bottom: 0.7rem;
    }
    #main-footer {
        padding-top: 1rem;
    }
}
